# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\onedrive2\github\Arla-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
